image:
  repository: ghcr.io/everactivestudio/everactiveapp-backend
  pullPolicy: IfNotPresent
  tag: ""

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  name: ""

podSecurityContext: {}
securityContext: {}

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: false
  className: ""
  host: chart-example.local

nodeSelector: {}

configSecretName: "backend-config"
